body{background-color: white; 
	  color: RGB(79,129,189)}
	  
*{ font-family: Calibri;
   font-size: 30px;
   color: RGB(79,129,189)}
   
.logo{ padding: 5px, 5px, 5px, 5px;
		width: 143px; 
		height: 56px;
		float: right}
		
header{ border-top-width: thick;
		border-bottom-width: thin;
		border-top-style: solid;
		border-bottom-style: solid}
		
footer{ border-top-width: thin;
		border-top-style: solid}

#hAltoSinistra{ display: inline}